<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
    </head>
    <body>
        <img id="Qrcode" />
        <button onclick="fetchQrcode1(0)" class="button">Entrance Ticket</button>
        <button onclick="fetchQrcode1(1)" class="button">IncludeRides Ticket</button>
        <button onclick="fetchQrcode1(2)" class="button">DreamWorldVisa Ticket</button>
        <button onclick="fetchQrcode1(3)" class="button">SuperVisa Ticket</button>
    </body>
    <script>
        const fetchQrcode1 = (ticket) => {
            const purchaseTicketId = [
                "19972cc4-8010-421c-aecf-f8daf287f504",
                "e19b3b96-a991-40a2-8adc-88eb284ac29d",
                "f06e4d58-f9ec-4a60-bc44-dc146da70064",
                "ffd61f35-69ad-4fb3-9576-df0db9f410a1",
            ];
            const data = {
                data: purchaseTicketId[ticket],
            };

            fetch("http://localhost:4000/generate_qrcode", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then((data) => {
                    const ImgQrcode = document.getElementById("Qrcode");
                    ImgQrcode.src = data;
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        };
    </script>
</html>
