<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
    </head>
    <body>
        <img id="Qrcode" />
        <button onclick="fetchQrcode1(0)" class="button">SuperVisa Ticket</button>
        <button onclick="fetchQrcode1(1)" class="button">DreamWorldVisa Ticket</button>
        <button onclick="fetchQrcode1(2)" class="button">Entrance Ticket</button>
    </body>
    <script>
        const fetchQrcode1 = (ticket) => {
            const purchaseTicketId = [
                "19972cc4-8010-421c-aecf-f8daf287f504",
                "ead065cc-ca7c-4b9f-a63d-485278925aa5",
                "64737c23-20cd-47f8-8966-05e20c0f1f90",
            ];
            const data = {
                data: purchaseTicketId[ticket],
            };

            fetch("http://localhost:4000/generate_qrcode", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then((data) => {
                    const ImgQrcode = document.getElementById("Qrcode");
                    ImgQrcode.src = data;
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        };
    </script>
</html>
