<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style></style>
    </head>
    <body>
        <img id="Qrcode" />
        <button onclick="fetchQrcode1(0)" class="button">Entrance Ticket</button>
        <button onclick="fetchQrcode1(1)" class="button">IncludeRides Ticket</button>
        <button onclick="fetchQrcode1(2)" class="button">DreamWorldVisa Ticket</button>
        <button onclick="fetchQrcode1(3)" class="button">SuperVisa Ticket</button>
    </body>
    <script>
        const fetchQrcode1 = (ticket) => {
            const purchaseTicketId = [
                "d50a0f94-567a-468f-955f-cd95c19d8357", // Entrance
                "160ec95d-ef48-40c5-96ae-9971949e1c5a", // IncludeRides
                "0363cc43-cb00-4d30-9830-abfbe87304e9", // DreamWorldVisa
                "40bd53d4-a654-4d7e-a406-114aaf2b3ae5", // SuperVisa
            ];
            const data = {
                data: purchaseTicketId[ticket],
            };

            fetch("http://localhost:4000/generate_qrcode", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then((data) => {
                    const ImgQrcode = document.getElementById("Qrcode");
                    ImgQrcode.src = data;
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        };
    </script>
</html>
